    <html>
    <script type="text/javascript" src="https://mpld3.github.io/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://mpld3.github.io/js/mpld3.v0.3.js"></script>
    <head>
    </head>
    <body>
    {% for plot in dict_of_plots %}
        <div id="{{ plot['id'] }}"></div>
    {% endfor %}
    <script type="text/javascript">
    {% for plot in dict_of_plots %}
        mpld3.draw_figure("{{ plot['id'] }}", {{ plot['json']|safe }});
    {% endfor %}
    </script>
    </body>
    </html>